[submodule "IK_engine/src/champ_setup_assistant"]
	path = IK_engine/src/champ_setup_assistant
	url = https://github.com/chvmp/champ_setup_assistant
[submodule "IK_engine/src/champ_teleop"]
	path = IK_engine/src/champ_teleop
	url = https://github.com/chvmp/champ_teleop
